<div class="row addComp" >
    <div class="col-md-5 col-sm-12">
        <div id="serv_hover" class="room card mb-4">
            <img src="assets/images/room0.gif" class="card-img-top" alt="#">
            <div class="card-body">
                <h3 class="card-title">new name</h3>
                <ul class="list-unstyled">
                    <li><strong>Capacity</strong> .....</li>
                    <li><strong>Description:</strong>.....</li>
                    <li><strong>Price:</strong> .....(dt)</li>
                </ul>
            </div>
        </div>
      </div>

    <div class=" col-md-6 col-sm-12 addForm" >
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
              <form [formGroup]="addRoomForm" class="text-center">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="name" placeholder="Name">
                </div>
                <div *ngIf="
                  addRoomForm.controls['name'].invalid &&
                  (addRoomForm.controls['name'].dirty ||
                  addRoomForm.controls['name'].touched)
                    ">
                  <div *ngIf="addRoomForm.controls['name']?.errors?.['required']">
                    Name is required
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <input type="number" class="form-control" formControlName="capacity" placeholder="Capacity">
                </div>
                <div *ngIf="
                    addRoomForm.controls['capacity'].invalid &&
                    (addRoomForm.controls['capacity'].dirty ||
                    addRoomForm.controls['capacity'].touched)
                        ">
                    <div *ngIf="addRoomForm.controls['capacity']?.errors?.['required']">
                        Capacity is required
                    </div>
                </div>
                <br>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="description" placeholder="Description">
                </div>
                <div *ngIf="
                    addRoomForm.controls['description'].invalid &&
                    (addRoomForm.controls['description'].dirty ||
                    addRoomForm.controls['description'].touched)
                        ">
                    <div *ngIf="addRoomForm.controls['description']?.errors?.['required']">
                        Description is required
                    </div>
                </div>
                <br>
                <div class="form-group">
                  <input type="number" class="form-control" formControlName="price" placeholder="Price">
                </div>
                <div *ngIf="
                    addRoomForm.controls['price'].invalid &&
                    (addRoomForm.controls['price'].dirty ||
                    addRoomForm.controls['price'].touched)
                        ">
                    <div *ngIf="addRoomForm.controls['price']?.errors?.['required']">
                        Price is required
                    </div>
                </div>
                <br>
                <div class="form-group form-control">
                  <input type="file" id="roomImage" (change)="onFileSelected($event)" placeholder="image" title="upload the image of the room here">
                </div>
                <div *ngIf="
                    addRoomForm.controls['roomImage'].invalid &&
                    (addRoomForm.controls['roomImage'].dirty ||
                    addRoomForm.controls['roomImage'].touched)
                        ">
                    <div *ngIf="addRoomForm.controls['roomImage']?.errors?.['required']">
                        The image of the room is required
                    </div>
                </div>
                <br>
                <div class="form-group">
                  <input type="submit" (click)="addRoom()" [disabled]="addRoomForm.invalid" class="btn btn-danger py-3 px-5" value="Add Room">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</div>