# Exclusions globales pour tout le projet
node_modules/
# dist/
# *.log

# # Exclusions spécifiques au frontend (incluses depuis le .gitignore du frontend)
# hotelBooking-angular-13/dist/
# hotelBooking-angular-13/node_modules/
# hotelBooking-angular-13/.vscode/
# # hotelBooking-angular-13/.dockerignore

# # Exclusions spécifiques au backend
# backend/.env
# backend/node_modules/
# backend/.vscode/
# # backend/.dockerignore
