<div class="container mt-5">
  <h1 class="text-center">What do you want to book?</h1>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card margin cardH">
        <div class="card-border-top"></div>
        <div class="imgH"></div>
        <span>Hotel</span>
        <button class="btn btn-primary mt-3" (click)="goToAllHotels()">Go</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card cardM">
        <div class="card-border-top"></div>
        <div class="imgM"></div>
        <span>Guest House</span>
        <button class="btn btn-primary mt-3" (click)="goToAllGuestHouses()">Go</button>
      </div>
    </div>
  </div>
</div>
