<div class="center">
    <div class="col-md-4 col-sm-6">
        <div id="serv_hover" class="room card mb-4">
                <img [src]="hotel.imageUrl" class="card-img-top" alt="#">
                <div class="card-body">
                    <h3 class="card-title">{{hotel.name}}</h3>
                    <ul class="list-unstyled">
                        <li><strong>Address: </strong>{{hotel.address}}</li>
                        <li><strong>Description: </strong>{{hotel.description}}</li>
                        <li><strong>City: </strong>{{hotel.city}}</li>
                        <li><strong>Number of rooms: </strong>{{hotel.nbRooms}} rooms</li>
                    </ul>
                </div>
        </div>
    </div>
</div>